<div class="jumbotron">
  <h1>'Signup, 'Allo!</h1>
  <p class="lead">
    <img src="images/images1.jpg" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row">
	<div class="col-sm-6">
	<div class="form-group">
		<label for="scourt_id">Scourt_id</label>
		<input type="text" class="form-control" ng-model="scourt_id" id="scourt_id">
	</div>

	<div class="form-group">
		<label for="e_mail_id">E_mail_id:</label>
		<input type="text" class="form-control" ng-model="e_mail_id" id="e_mail_id">
	</div>

 	<div class="form-group">
		<label for="name">Name:</label>
		<input type="text" class="form-control" ng-model="name" id="name">
	</div>

	<div class="form-group">
		<label for="password">PassWord:</label>
		<input type="text" class="form-control" ng-model="password" id="password">
	</div>

	<button type="button" class="btn btn-primary" ng-click="saveUserInfo()">회원 가입</button>

</div>


