<div class="jumbotron">
  <h1>User List</h1>
</div>
<div class="row">
  <div class="col-sm-12">
  <table class="table">
    <thead><tr><th>id</th><th>전자소송ID</th><th>회원ID</th><th>성  명</th><th>비밀번호</th><th>수정</th><th>삭제</th></tr></thead>
    <tbody>
      <tr ng-repeat="obj in userList">
        <td><a href="detail:{{obj.id}}&{{obj.name}}&{{obj.age}}"><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" ng-click="getUserInfo(obj.id)">{{obj.id}}</button></a></td>
        <td><input type="text" class="form-control" ng-model="obj.scourt_id"></td>
        <td><input type="text" class="form-control" ng-model="obj.user_id"></td>
        <td><input type="text" class="form-control" ng-model="obj.name"></td>
        <td><input type="text" class="form-control" ng-model="obj.password"></td>

        
        <td><button type="button" class="btn btn-warning"
         ng-click="modifyUserInfo(obj.id, obj.scourt_id, obj.user_id, obj.name, obj.password)">Edit></button></td>
        <td><button type="button" class="btn btn-danger btn-sm" 
          ng-click="deleteUserInfo(obj.id)">Danger</button></td>
      </tr>
    </tbody>
  </table>

  <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">User Info</h4>
      </div>

      <div class="modal-body">
       <table class="table"><tr><td>id</td><td>{{userInfo.id}}</td></tr>
       <tr><td>Scourt_id</td><td>{{userInfo.scourt_id}}</td></tr>
       <tr><td>User_id</td><td>{{userInfo.user_id}}</td></tr>
       <td>Name</td><td>{{userInfo.name}}</td></tr>
       <tr><td>Password</td><td>{{userInfo.password}}</td></tr>
       </table>
       
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

</div>